# environment
.env
.env.docker
.env*.local

# local dist
local-dist/*
!local-dist/.gitkeep

# dependencies
node_modules

# testing
cypress

# dist
out
dist
dist-ssr
*.local
build

# editor directories and files
.vscode/*
!.vscode/extensions.json
.idea
.DS_Store
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?
*.pem

# debug
*.log
npm-debug.log*
